# npm dependencies
node_modules/
package-lock.json

# Auth file (sensitive data)
settings.json
testing.json

# WebStorm IDE
.idea/

# data folders
images/
logs/

# additional files
misc/
test/
